@charset "UTF-8";
/* 共通
==========================================*/
body {
  color: #7b5544;
  font-family: 'Roboto Mono', monospace;
  width: 100%;
}

section {
  height: 100vh;
}

.section-title {
  font-size: 70px;
}

/* HEADER
====================================================*/
.page-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-logo {
  font-size: 50px;
  margin-top: 10px;
}

.header-nav {
  display: flex;
  font-size: 30px;
  margin-top: 24px;
}

.header-nav li {
  margin-left: 50px;
}


/* FOOTER
====================================================*/
footer {
  background: #432;
  text-align: center;
  padding: 26px 0;
}

footer p {
  color: #fff;
}



/* タブレット版
===========================================*/
@media screen and (max-width: 1024px) {
  /* HEADER */
  .page-header {
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .header-nav {
    padding-bottom: 10px;
  }

  /* FOOTER */
  footer {
    padding: 40px 0;
  }

  footer p {
    font-size: 30px;
  }
  
}

/* Surface Duo
===========================================*/
@media screen and (max-width: 768px) {
  /* HEADER */
  .header-logo {
    font-size: 40px;
  }
  
  /* FOOTER */
  footer {
    padding: 20px 0;
  }

  footer p {
    font-size: 20px;
  }
  
}


/* スマホ版
===========================================*/
@media screen and (max-width: 480px) {
  /*HEADER*/
  .header-nav {
    text-align: center;
    font-size: 15px;
    margin-right: 25px;
  }

  /* FOOTER */
  footer {
    padding: 20px 0;
  }

  footer p {
    font-size: 16px;
  }
  

}