.contact {
  background-image: url(../img/contact.png);
  background-size: cover;
  background-position: center;
}

.contact .section-title {
  text-align: center;
  padding-top: 20px;
  color: #996600;
}

/* FORM */
form {
  max-width: 600px;
  margin: 30px auto;
}

label {
  font-size: 20px;
  color: #353535;
  font-weight: bold;
  display: block;
}

input[type="text"],
input[type="email"],
textarea {
  background: rgba(255, 255, 255, .5);
  border-radius: 5px;
  padding: 10px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  max-width: 240px;
}

textarea {
  width: 100%;
  max-width: 480px;
  height: 200px;
}

input[type="submit"] {
  cursor: pointer;
  line-height: 1;
  color: #e6e6e6;
  font-size: 20px;
  background-color: #666666;
  padding: 10px 15px;
  border-radius: 3px;
  margin-top: 10px;
}

input:hover {
  opacity: 0.5;
}