@charset "UTF-8";

.home-cover {
  background-image: url(../img/home-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.home-item {
  display: inline-block;
  margin-top: 140px;
  margin-left: 830px;
  color: #6b3f31;
}

.home-title {
  font-size: 100px;
}

.age {
  font-size: 30px;
}

.home-suv {
  font-size: 23px;
  margin-top: 12px;
  color: #993300;
}


/* タブレット版
===========================================*/
@media screen and (max-width: 1024px) {
  .home-item {
    display: inline-block;
    margin-top: 280px;
    margin-left: 60%;
    color: #6b3f31;
  }

}

/* スマホ版
===========================================*/
@media screen and (max-width: 480px) {
  .home-item {
    display: inline-block;
    margin-top: 70px;
    margin-left: 10%;
    color: #6b3f31;
  }

  .home-title {
    font-size: 50px;
  }

  .age {
    font-size: 20px;
  }
}