.skill {
  background-image: url(../img/skill.png);
  background-size: cover;
  background-position: center;
  display: flex;
}

.skill h1 {
  margin-top: 200px;
  margin-left: 50px;
}

.skill-list {
  font-size: 30px;
  line-height: 1.4;
  margin-top: 190px;
  margin-left: 20px;
}

.skill-list li::before {
  content: "・";
}